body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header {
    background-color: #012D63;
    padding-top: 30px;
    padding-bottom: 33px;

}

.header .container {
    display: flex;
    align-items: center;
}

.header__logo__link {
    margin-right: 152px;
}

.header__nav {
    margin-right: 73px;
}

.header__list {
    display: flex;
    gap: 30px;
    align-items: center;

}

.header__item {
    color: #C7C7C7;
    font-size: 24px;
    font-weight: 300;

}

.header__nav__link:hover,
.header__nav__link:focus {
    color: #FFF;
}

.header__languages__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__languages__item {
    color: #DCDCDC;
    font-size: 24px;
    font-weight: 300;
}

.header__languages__item:last-child {
    color: #FFF;
}




/* hero */

.hero__section {

    background-image: url(../img/hero__section/group1.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    padding-top: 94px;
    padding-bottom: 183px;
}


.hero__section__h1 {
    color: #FFF;

    font-family: "Playfair Display";
    font-size: 144px;
    font-weight: 400;
}

.hero__section__subtitle {
    color: #FFF;

    font-family: "Playfair Display";
    font-size: 72px;
    font-weight: 400;
}

.hero__section__text {
    color: #FFF;

    font-size: 18px;
    font-weight: 400;
}

.hero__section__logo {
    color: #FFF;

    font-family: "PT Serif";
    font-size: 48px;
    font-weight: 400;
}

.hero__section__button {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
    background: #8E32C6;
    margin-top: 41px;
    padding: 20px 61px;
}

/* custom__nikes */



.custom__nikes {
    background: url(../img/custom__nikes/group81.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 105px 0px;
}

.custom__nikes__list {
    display: flex;
    border: 5px solid #8E32C6;
    padding: 25px 0px;
}

.custom__nikes__item:not(:last-child) {
    border-right: 1px solid #FFF;
}

.custom__nikes__item:nth-child(odd) {
    padding: 0px 50px;
}

.custom__nikes__item:nth-child(2) {
    padding: 0px 95px;
}

.custom__nikes__title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 400;

}

.custom__nikes__img {
    width: 240px;
}

.reviews {
    background: url(../img/reviews__section/group61.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 114px;
    padding-top: 24px;
}

.reviews__section__title {
    color: #FFF;

    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    padding-top: 49px;
    padding-bottom: 71px;
    padding-left: 13px;
    padding-right: 13px;
}

.reviews__section__list {
    display: flex;
    gap: 93px;
}

.reviews__section__item {
    width: 255px;
    height: 292px;
    border-radius: 15px;

}

.reviews__section__item:nth-child(1) {
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
}

.reviews__section__item:nth-child(2) {
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
}

.reviews__section__item:nth-child(3) {
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}

.reviews__section__img {
    content: "";
    display: block;
    display: flex;
    gap: 30px;

}

.reviews__section__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;

}

.revievs__section__subtitle {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.revievs__section__image {
    padding-left: 18px;
    padding-bottom: 29px;
    padding-right: 5px;

}

/* Order__section */

.order__section {
    background-image: url(../img/order__section/group21.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.order__section__title {
    color: #FFF;

    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 33px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
}

.order__form__label {
    color: #959595;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
}

.order__form__email {
    border-radius: 50px;
    background: #FFF;
    padding: 13px 25px;
    width: 690px;
}

.order__form__input {
    border-radius: 50px;
    background: #FFF;
    padding: 13px 25px;
    width: 580px;
}



.order__section__button {
    color: #FFF;

    font-size: 24px;
    font-weight: 400;

    border-radius: 16px;
    background: #8E32C6;
}








